.container {
    margin: auto;
    padding: 32px 0;
    width: 600px;
    .title {
      padding: 8px 0;
      text-align: center;
      width: 100%;
      font-weight: 600;
      font-size: 18px;
    }
  
    .goods-list-container {
      .goods-list-table {
        border: 1px solid #D9DBDE;
        border-radius: 4px;
        overflow: hidden;
  
        .goods-line {
          display: flex;
          padding: 16px 24px;
  
          &.header {
            background-color: #F5F5F5;
          }
  
          &:nth-child(n+2) {
            border-top: 1px solid #D9DBDE;
          }
        
          .goods-name {
            width: 150px;
          }
          .goods-goods_id {
            width: 130px;
          }
          .goods-size {
            width: 100px; 
          }
          .goods-amount {
            width: 100px; 
          }
          .goods-note {
            width: 160px; 
          }
        
        }
      }
    }
  }