.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 135px;
    border-radius: 4px;
    line-height: 21px;
    cursor: pointer;
    background-color:#A53F2B;
    color: #F0FFCE;
    font-weight: 600;
    font-size: 25px;
    border: none;  
     
    &.disabled {
      background-color: #B0BEC5;
      pointer-events: none;
      box-shadow: none;
    }
  }
.caution{color: #A53F2B;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
