<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>client</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="ja">
      <head>
        <meta charset="UTF-8">
        <title>client</title>
      </head>
      <body>
          <div class="center">
          <h1>商品登録</h1>
    
          　<form>
          　　<label class="label" for="name">商品名　</label>
          　　<input id="name" type="text" name="name">
          　　<br>
          　　<br>
          　　<label class="label" for="name">商品ID　</label>
          　　<input id="name" type="text" name="goods_id">
          　　<br>
          　　<br>
         　　 <label for="num">サイズ　</label>
         　　 <input id="num" type="number" name="size">
         　　 <br>
         　　 <br>
         　　 <label for="num">数量　</label>
          　　<input id="num" type="number" name="amount">
          　　<br>
        　　  <br>
          　　<input type="submit" value="登録する">
       　　 </form>
         </div>
      </body>
    </html>
  </body>
</html>