<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <table>
        <tr>
            <th>Name</th>
            <td><input type="text" name="name" [ngModel]="goods.name"></td>
        </tr>
        <tr>
            <th>Goods_id</th>
            <td><input type="text" name="id" [ngModel]="goods.goods_id"></td>
        </tr>
        <tr>
            <th>Size</th>
            <td><input type="text" name="size" [ngModel]="goods.size"></td>
        </tr>
        <tr>
            <th>Amount</th>
            <td><input type="text" name="amount" [ngModel]="goods.amount"></td>
        </tr>
        <tr>
            <th>note</th>
            <td><input type="text" name="note" [ngModel]="goods.note"></td>
        </tr>
    </table>
    <button routerLink="/goods">戻る</button>
    <button type="submit">登録</button>
</form>