<div class="container">
    <div class="title" translate>
        goods_update
    </div>
    <form (ngSubmit)="updateGoods()" #formCheck="ngForm" [formGroup]="goodsForm">
        <div class="update-form">
            <div class="update-line">
                <label translate>goods_id</label>
                <span>{{ goodsForm.controls.goods_id.value }}</span>
            </div>

            <div class="update-line">
                <label translate>name</label>
                <div>
                    <input type="text" formControlName="name" required maxlength="30">
                    <div class="caution"
                        *ngIf="goodsForm.controls['name'].errors && (goodsForm.controls['name'].dirty || goodsForm.controls['name'].touched) ">
                        <div *ngIf="goodsForm.controls['name'].errors.required" translate>
                            no_name_entered
                        </div>
                        <div *ngIf="goodsForm.controls['name'].errors.maxlength" translate>
                            enter_within_30
                        </div>
                    </div>
                </div>
            </div>

            <div class="update-line">
                <label translate>size</label>
                <div>
                    <input type="number" formControlName="size" required>
                    <div class="caution"
                        *ngIf="goodsForm.controls['size'].errors && (goodsForm.controls['size'].dirty || goodsForm.controls['size'].touched) ">
                        <div *ngIf="goodsForm.controls['size'].errors.required" translate>
                            no_size_entered
                        </div>
                    </div>
                </div>
            </div>

            <div class="update-line">
                <label translate>amount</label>
                <input type="number" formControlName="amount">
            </div>

            <div class="update-line">
                <label translate>note</label>
                <input type="text" formControlName="note">
            </div>

        </div>
        <div class="footer">
            <div class="button cancel" routerLink="/goods/details" translate>back</div>
            <button class="button" [class.disabled]="formCheck.invalid"><span translate>update</span></button>
        </div>
    </form>
</div>